@font-face {
     font-family: minha_fonte;
     src: url('./fonts/roboto/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
 }

 body {
     font-family: minha_fonte;
     margin: 0;
     padding: 0;
 }

 header {
    width: 100%;
    position: absolute;
    top: 0;
    background: #0e4434;
    padding-left: 130px;
    height: 137px;
 }

 

 nav a {
     color: #ffffff;
     text-decoration: none;
 }

 
 .hoverzin{
background: transparent;
  border: none;
  height: 135px;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
 }
 
 .hoverzin:hover{
    border-bottom: 3px solid white;

 }

 .item_3 {
     flex-grow: 5;
 }

 .coluna {
     display: flex;
     flex-direction: column;
     text-align: center;
     opacity: 70%;
     font-size: 15px;
     gap: 5px;

 }

 .coluna:hover{
    opacity: 100%;
 }

 nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menuzinho {
    border: none;
    margin: 0;
width: 86%;
display: flex;
align-items: center;
justify-content: space-between;
}
.menuzin{
    gap: 70px;
    display: flex;
}
.item_1 {
  display: flex;
  align-items: center;
}

.item_2 {
  display: flex;
  gap: 30px;
  align-items: center;
}

.login {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 100px;
}

.login .linha {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: white;
}
.loginnn{
    font-family: minha_fonte;
  display: flex;
  align-items: center; 
  gap: 8px; 
  color: white; 
  text-decoration: none; 
}

.login-button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  font-size: 24px;
  border-top: 3px solid #09B42C;
  border-bottom: 3px solid #09B42C;
  height: 60px;
  color: white;
  justify-content: center;
  text-align: center;
}


 .content {
    display: flex;
    margin-top: 149px ;

 }

 main {
     flex: 1;
 }

 aside {
     margin: 20px;
     height: 60%;
 }

 .title_point {
     background-color: #94ADA3;
     width: 34%;

     text-align: right;
     margin: 10px 0 10px 0;
     height: 100px;
 }

 .title_point h1 {
     font-size: 30px;
     margin: 0;
     padding: 30px 0 0 3px;
 }

 .img_home_princiapal {
     display: flex;
     justify-content: center;
 }

 .text_home {
     display: flex;
     justify-content: center;
     position: relative;
     width: 50%;
     margin: 100px auto;
     padding: 10px;
 }

 .borda_superior_esquerda,
 .borda_inferior_direita {
     position: absolute;
     width: 20px;
     height: 20px;
 }

 .borda_superior_esquerda {
     top: 0;
     left: 0;
 }

 .borda_inferior_direita {
     bottom: 0;
     right: 0;
     transform: rotate(180deg);
 }

 .linha_horizontal {
     height: 2px;
     width: 150px;
     background: linear-gradient(to right, #115C47, #115C47, #f8f8f8);
     margin: -20px;

 }

 .linha_vertical {
     width: 2px;
     height: 150px;
     background: linear-gradient(to bottom, #115C47, #115C47, #f8f8f8);

 }

 .link_home_meio {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .link_home_meio div {
     margin: 50px;
     width: 150px;
     height: 150px;
     background-color: #174D3C;
     border-radius: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .link_home_meio div a {
     text-decoration: none;
     color: #ffffff;

 }

 .footer_maim {
     display: flex;
     justify-content: center;
     width: 100%;
 }

 .footer_maim_border_top {
     background: linear-gradient(to left, #174D3C, #f8f8f8);
     width: 100%;
     height: 10px;
 }

 .footer_maim_border_bottom {
     background: linear-gradient(to right, #174D3C, #f8f8f8);
     width: 100%;
     height: 10px;
 }

 footer {
     display: grid;
     grid-template-columns: auto auto auto auto;
     margin-top: 20px;
     background-color: rgba(4, 68, 21, 0.89);
 }

 .item_footer_logo {
     grid-column: 1 /2;
 }

 .item_footer_lins {
     grid-column: 2/ 11;
     display: flex;
     grid-template-columns: auto auto auto auto;
     place-items: center;
     color: #f8f8f8;
 }

 .item_footer_icones {
     grid-column: 11/ 12;
  display: grid;
  place-items: end;
 }

 .footer_coluna {
     display: flex;
     flex-direction: column;
     margin-left: 0;
     border-left: 2px solid #f8f8f8;
     padding: 10px;
 }

 .footer_coluna a {
     text-decoration: none;
     color: #f8f8f8;
 }

 .item_footer_icones_2{
    color: #f8f8f8;
     flex-direction: column;
     text-align: center;
 }
  .item_footer_icones_2 div img{
    margin: 10px;
    align-self:baseline;
 }
.box_text_quemsomos{
    width: 50%;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 4px rgba(0, 0, 0, 0.171);
    display: flex;
    font-size: 14px;   
    margin-left: 3px; 
}
.centro{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.alinhamento_img_quemsomos div img {
   width: 150px;
   height: 150px;
}
.box_text_quemsomos_direita{
    width: 50%;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 4px rgba(0, 0, 0, 0.171);
    display: flex;
    font-size: 14px;
    flex-direction: row-reverse;
    font-family: minha_fonte;
}
.box_text_quemsomos_direita div {
    text-align: right;
    margin-right: 3px;
    font-family: minha_fonte;
}
#backToTopContainer {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 99;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

#backToTopContainer h3 {
  margin: 5px 0 0 0;
  font-size: 17px;
  color: #333;
  font-weight: normal;
}
/*Page serviço*/
.imgpg{
  width:500px;
  height:300px;
}
.titulo_serviço{
text-align: center;
font-size: larger;
font-family: minha_fonte;

}
.titulo{
    text-align: left;
    padding-left: 90px;
 font-size: xx-large;
 font-family: minha_fonte;

}

 .ju_topo_serviço {
  

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-size: xx-large;

 }

.topoimg1{
      padding-left: 50px;
   margin: 100px;
   

}
#topoimg2{
    padding-left: 50px;
   margin: 100px;
   
  
}
.txttopo{
    text-align: center;
    font-size: larger;
    font-family: minha_fonte;
}
.meio_geral{
    display: flex;
    font-size: larger;
}
.meio_serviço_txt{
    text-align: left;
   padding-left: 50px;
}
.meio_serviço_img1{
        padding: 50px;
     text-align: center;
border-width: 8px;
border-style: solid;
border-color: #065F1F;
margin: 100px;
text-decoration: none;
color: black;
}
.meio_serviço_img2{
     padding: 50px;
     text-align: center;
border-width: 9px;
border-style: solid;
border-color: #065F1F;
margin: 100px;
text-decoration: none;
color: black;
}
.meio_serviço_img3{
    
padding: 50px;
text-align: center;
border-width: 8px;
border-style: solid;
border-color: #065F1F;
margin: 100px;
}
.final_serviço_txt{
    text-align: left;
   padding-left: 50px;
   font-size: larger;
}
.final_serviço_img{
    margin: 25px;
     text-align: center;
}
.final_serviço_paf{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: x-large;
}
.meio_serviço_img2 a{
    text-decoration: none;
color: black;
}
.meio_serviço_img1 a{
    text-decoration: none;
color: black;
}
.meio_serviço_img3 a{
    text-decoration: none;
color: black;
}
.meio_serviço_img1:hover{background-color: #9BCA30;}
.meio_serviço_img2:hover{background-color: #9BCA30;}
.meio_serviço_img3:hover{background-color: #9BCA30;}

/*Paginas de Empressa Parceiras*/

.titulo_se_txt{
    text-align: center;
    font-size: xx-large;
    font-family: minha_fonte;
}
.topo_se{
    display: flex;
}
.imgse{padding: 60px;
    }
.txt_se{
    padding: 60px;
font-size: x-large;
text-align: center;
font-family: minha_fonte;
}
.titulo2_se{
    text-align: center;
    font-size: xx-large;
    font-family: minha_fonte;
}
.final_se{
    display: flex;
    padding: 50px;
    flex-direction: row;
justify-content: center;
align-items: center;
}
.ima1_se{
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #D9D9D9;
    margin: 75px;
   text-align: center;
   font-size: x-large;
   border-radius: 5%;
   box-shadow: 2px 3px 3px black;
   font-family: minha_fonte;
   
}
.ima1_se button{
    background: linear-gradient(#AAC2CE,#D3E7F2);
    border-radius: 10px 10px 10px;
    margin: none;
    width: 200px;
    height:40px ;
     padding: 10px 20px;
    text-decoration: none;
    border: none;
    font-family: minha_fonte;
}
.tudo{
    display: flex;
    justify-content: center;

background-color: #E1FFD6;
border-radius: 15px;
box-shadow: gray 10px 10px  25px;
width: 700px;
height: 650px;


}
.Titulo_agenda{ 
    text-align: left;
    font-family: Minha_fonte;
    margin-left:550px;
   font-size: x-large;
}
.voltar{
    padding-left: 27px;
}
.meio_agenda{}
.função{}
.escolha_calendario{display: flex;}

.text button{ padding: 10px;
    border-radius: 20px 20px 20px;
    width: 150px;
    margin: 5px;
    font-family: minha_fonte;
    font-size: x-large;
    background: linear-gradient(#E6C476,#B18218);
    border:none;
    margin-left: 50px;
}

.text button:hover{background:linear-gradient(); }

.calendario{ margin: 40px;
}


.check{
    display: flexbox;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;}
    .comentario{text-align: center;
        margin: 50px;
    }
    .comentario h4{
text-align: left;
 margin: 0;
  background-color:#D9D9D9;
   border-radius: 10px 10px 0px 0px;
padding: 10px;
 }
.mapa-agenda{
    margin-left: 50px;
    border-radius: 50px;
}
.img_lateral {
    background-color:#D9D9D9;
    margin-top: 15px;
    width: 550px;
    height: auto;
    display: flex;
    padding: 15px;
    border-radius: 25px;
    box-shadow: gray 1px 5px 15px 5px;
}
.img_txt{ margin-left: 15px;
    font-family: minha_fonte;
}
.txt_lateral{
    height: 50px;
    width: 550px;
}

 

